html {
	font-size: 16px;
  }
  
  
  .nav {
	background-color: blueviolet;
	width: 100%;
	height: 18.75rem; /* 300px converted to rem */
  }
  
  .title {
	display: flex;
	justify-content: space-between;
	color: white;
	margin-left: 2.5rem; 
	margin-right: 2.5rem; 
  }
  
  .slogan {
	text-align: center;
	color: red;
	font-size: 1.25rem; 
  }
  
  .bold {
	text-align: center;
	color: white;
	font-weight: bolder;
	font-size: 3.125rem; 
  }
  
  .input {
	border-radius: 0.9375rem; 
	width: 21.875rem; 
	height: 2.8125rem; 
	justify-content: center;
	align-items: center;
  }
  
  .filter {
	width: 43.75rem; 
	height: 18.75rem; 
	border: 0.25rem solid; 
	margin-bottom: 2.5rem; 
	border-radius: 0.3125rem; 
	height: 1.875rem; 
	border-color: blueviolet;
  }
  
  .inputbox {
	z-index: 999;
	text-align: center;
	padding-top: 0.25rem; 
	padding-bottom: 1.875rem; 
  }
  
  .inputbox input {
	width: 31.25rem; 
	height: 2.5rem; 
	border: 0.25rem solid; 
	margin-bottom: 2.5rem; 
	border-radius: 1.25rem; 
	border-color: blueviolet;
  }
  
  .button {
	color: black;
	background-color: white;
	border: none;
  }
  
  .page {
	height: 18.75rem;
	width: 21.875rem;
	margin-right: 1.25rem;
	margin-top: 5rem;
	border-radius: 1.875rem;
  }
  
  .nameTitle {
	display: flex;
	justify-content: space-between;
  }
  
  .cards {
	display: flex;
	justify-content: space-between;
	border-radius: 1.25rem;
  }
  
  .img {
	height: 10rem;
	width: 21.875rem;
	border-top-right-radius: 1.25rem;
	border-top-left-radius: 1.25rem;
  }
  
  .span {
	color: red;
  }

@media (max-width: 768px) {
	.nav {
	  flex-direction: column;
	  align-items: center;
	}
  
	.slogan {
	  font-size: 16px;
	}
  
	.bold {
	  font-size: 40px;
	}
  
	.inputbox {
	  width: 30%;
	}
	
	input {
	  width: 30%;
	}
  }

  

  